.container {
    display: flex;
    min-height: 100vh;
}

/*Menu bar*/
.top{ 
    height: 100px;
    padding-top: 5px;
}

/*page content*/
.bottom{
    position: absolute;
    top: 96px;
    width: 100%;
    flex-grow: 1;
    min-height: calc(100vh - 96px); /*fills the screen, but subtracts the top bar*/
    padding: 26px 16px 0;
    background: #f0f0f0;
}
